.sekil{
    height: 500px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.sekil1{
    background-image: url(ilkinnnnn.jpg);
}
.sekil2{
    background-image: url(ilk.jpg);
}